**/dist
**/build
*.specz
**/__pycache__
**/.DS_Store
/.vscode
/tests
**/log
*.psd
.git
.github
.idea
config
config/**/*
docs
json-schema
json-schema/MODULE.md
venv
.dockerignore
.gitignore
.readthedocs.yml
.spellcheck.yml
CHANGELOG
Dockerfile
Dockerfile.lxml
LICENSE
mkdocs.yml
README.md
test.py
.agents
.claude
**/MODULE.md