**/dist
**/build
*.spec
**/__pycache__
/.vscode
**/log
*.psd
.git
.github
.idea
config
config/**/*
docs
json-schema
venv
.dockerignore
.gitignore
.readthedocs.yml
.spellcheck.yml
CHANGELOG
Dockerfile
Dockerfile.lxml
LICENSE
mkdocs.yml
README.md
test.py