export VIRTUAL_ENV=.venv

# Create venv if missing
if [[ ! -d $VIRTUAL_ENV ]]; then
  uv venv
fi

# Watch for changes
watch_file pyproject.toml
watch_file uv.lock

# Sync main dependencies + the dev group
uv sync --group dev

PATH_add "$VIRTUAL_ENV/bin"
