arrapi==1.4.13
GitPython==3.1.43
lxml==5.2.2
num2words==0.5.13
pathvalidate==3.2.0
pillow==10.3.0
PlexAPI==4.15.13
psutil==5.9.8
python-dotenv==1.0.1
python-dateutil==2.9.0.post0
requests==2.32.3
retrying==1.3.4
ruamel.yaml==0.18.6
schedule==1.2.2
setuptools==70.0.0
tmdbapis==1.2.16