arrapi==1.4.14
cloudscraper==1.2.71
GitPython==3.1.46
lxml==6.0.2
num2words==0.5.14
packaging==26.0
pathvalidate==3.3.1
pillow==12.1.0
PlexAPI==4.18.0
psutil==7.2.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pywin32==311; sys_platform == 'win32'
requests==2.32.5
ruamel.yaml==0.19.1
schedule==1.2.2
setuptools==82.0.0
tenacity==9.1.4
tmdbapis==1.2.30