:root, [data-md-color-scheme="default"] {
    --md-primary-fg-color:        #00bc8c;
    --md-primary-fg-color--light: #00bc8c;
    --md-primary-fg-color--dark:  #00bc8c;
    --md-primary-bg-color--light: #ffffffb3;
    --pg-light-border: rgb(47, 47, 47);
    --md-typeset-a-color: #00bc8c;
    --md-accent-fg-color: #1281c0;
    --md-code-hl-keyword-color: #7ee787;
    --md-code-hl-string-color: #a5d6ff;
    --md-code-hl-comment-color: #8b949e;
}
:root, [data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #00bc8c;
    --md-primary-fg-color--light: #00bc8c;
    --md-primary-fg-color--dark:  #00bc8c;
    --md-default-bg-color: #252525;
    --md-footer-bg-color--dark: var(--md-default-bg-color);
    --md-primary-bg-color--light: #ffffffb3;
    --pg-light-border: rgb(47, 47, 47);
    --md-typeset-a-color: #00bc8c;
    --md-accent-fg-color: #1281c0;
    --md-code-hl-keyword-color: #7ee787;
    --md-code-hl-string-color: #a5d6ff;
    --md-code-hl-comment-color: #8b949e;
}

table tr td code {
  white-space: pre;
}

.md-header, .md-tabs {
    background-image: url(../assets/background.jpg);
    background-size: cover;
}

.md-banner {
    overflow: auto;
    text-align: center;
}

.md-typeset table:not([class]) {
   display: table;
}

.md-typeset .tabbed-set {
    border: 1px solid var(--md-default-fg-color--lightest);
    border-radius: 6px;
    padding: 10px;
}

.md-typeset :not(.linenodiv) > pre {
  border: 1px solid var(--md-default-fg-color--lightest);
  border-radius: 6px;
  padding: 1px;
}

[data-md-color-scheme="default"] .md-typeset h1, [data-md-color-scheme="slate"] .md-typeset h2, [data-md-color-scheme="slate"] .md-typeset h3, [data-md-color-scheme="slate"] .md-typeset h4 {
    color: #2f2f2f;
}

[data-md-color-scheme="slate"] .md-typeset h1, [data-md-color-scheme="slate"] .md-typeset h2, [data-md-color-scheme="slate"] .md-typeset h3, [data-md-color-scheme="slate"] .md-typeset h4 {
    color: #f0f0f0;
}

.md-typeset h1, .md-typeset h2 {
    font-weight: bold;
    text-transform: uppercase;
}

.md-typeset h2 {
    font-weight: bold;
    text-transform: uppercase;

}

.md-typeset h3 {
    font-weight: bold;
    text-transform: uppercase;
}

.md-typeset h4 {
    font-weight: bold;
    text-transform: uppercase;
}

.md-typeset h6 {
    font-size: .01em;
    color: transparent;
    text-transform: uppercase;
}

[data-md-color-scheme="slate"] .md-typeset code {
    background-color: hsl(225deg 8.87% 10.98%);
}
@media only screen and (min-width: 76.25em) {
  .md-main__inner {
    max-width: 80%;
  }
  .md-sidebar--primary {
    margin-left: 0;
    left: 0;
  }
  .md-sidebar--secondary {
    right: 0;
    margin-left: 0;
    -webkit-transform: none;
    transform: none;   
  }
}

@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
.heart {
  animation: heart 1000ms infinite;
}

.green {
  color: #00e676;
}

.red {
  color: #ff001a;
}

.orange {
  color: #e69800;
}
table.clearTable {
  display: inline !important;
}
table.clearTable td {
  padding: 3px 15px 3px 3px !important;
}
table.clearTable td:last-child {
  padding: 3px 3px 3px 3px !important;
}
table.clearTable th {
  text-align: center !important;
}
table.clearTable, table.clearTable tbody, table.clearTable tr, table.clearTable td, table.clearTable th {
    background-color: transparent !important;
    border: 0 !important;
    /* background-color: var(--md-default-bg-color); */
    /* border: 0.05rem solid var(--md-typeset-table-color); */
    /* border-radius: 0.1rem; */
}
table.dualTable td, table.dualTable th {
  padding-left: 15px !important;
    background-color: var(--md-default-bg-color);
    border: 0.05rem solid var(--md-typeset-table-color);
    border-radius: 0.1rem;
}

[data-md-color-scheme="slate"] .grey {
  color: #414454;
}


[data-md-color-scheme="default"] .grey {
  color: #f1f1f1;
}

table.dualTable tr:nth-child(even) {
    background-color: #1b1b1b;
}

table.dualTable td, table.dualTable th {
  padding-left: 15px !important;
}

#dualTable td, #dualTable th {
  padding-left: 15px !important;
}

.md-typeset__table table:not([class]) td,
.md-typeset__table table:not([class]) th {
    padding: 9px;
}

/* light mode alternating table bg colors */
.md-typeset__table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.md-typeset table:not([class]) {
    background-color: var(--md-default-bg-color);
    border: 0.05rem solid var(--md-typeset-table-color);
    border-radius: 0.1rem;
    display: inline-block;
    font-size: .8rem;
    max-width: 100%;
    overflow: auto;
    touch-action: auto;
}
.md-typeset table:not([class]) th {
    min-width: 0rem;
}
/* dark mode alternating table bg colors */
[data-md-color-scheme="slate"] .md-typeset__table tr:nth-child(2n) {
    background-color: #1b1b1b;
}

.md-typeset mark {
    background-color: initial;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    color: #00bc8c;
    word-break: break-word;
}

.md-search-result .md-typeset h2 mark {
    text-decoration: underline;
}

:root {
    --md-admonition-icon--blank: url()
}
:root {
    --md-admonition-icon--separator: url()
}
.md-typeset .admonition.blank,
.md-typeset details.blank {
    box-shadow: 0 .1rem 1rem -.3rem rgba(0,0,0);
    border: none;
    border-radius: 5px;
    margin: 5px auto;
    font-size: inherit;
}
.md-typeset .blank > .admonition-title,
.md-typeset .blank > summary {
    background-color: rgba(43, 155, 70, 0.1);
    border-radius: 5px !important;
    padding-left: 20px;
}
.md-typeset .blank > .admonition-title::before,
.md-typeset .blank > summary::before {
    background-color: rgb(43, 155, 70);
    -webkit-mask-image: var(--md-admonition-icon--blank);
        mask-image: var(--md-admonition-icon--blank);
}
.md-typeset .admonition.separator,
.md-typeset details.separator {
    box-shadow: 0 .1rem 1rem -.3rem rgba(0,0,0);
    border: none;
    border-radius: 5px;
    margin: 5px auto;
    font-size: inherit;
}
.md-typeset .separator > .admonition-title,
.md-typeset .separator > summary {
    background-color: rgba(43, 155, 70, 0.1);
    text-align: center;
    border-radius: 5px !important;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.md-typeset .separator > .admonition-title::before,
.md-typeset .separator > summary::before {
    background-color: rgb(43, 155, 70);
    -webkit-mask-image: var(--md-admonition-icon--separator);
        mask-image: var(--md-admonition-icon--separator);
}


.md-typeset .grid.cards > :is(ul, ol) > li, .md-typeset .grid > .card { /* Firefox */
    color: var(--md-typeset-color);
    background: #1b1b1b;
    border: 1px solid var(--pg-light-border);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 3px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px -1px;
    transition: none;
    position: relative;
}

.md-typeset .grid.cards>:-webkit-any(ul,ol)>li, .md-typeset .grid>.card { /* Webkit */
    color: var(--md-typeset-color);
    background: #1b1b1b;
    border: 1px solid var(--pg-light-border);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 3px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px -1px;
    transition: none;
    position: relative;
}

[data-md-color-scheme="default"] .md-typeset .grid.cards > :is(ul, ol) > li, .md-typeset .grid > .card { /* Firefox */
    color: var(--md-typeset-color);
    background: #f6f6f6;
    border: 1px solid var(--pg-light-border);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 3px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px -1px;
    transition: none;
    position: relative;
}

[data-md-color-scheme="default"] .md-typeset .grid.cards>:-webkit-any(ul,ol)>li, .md-typeset .grid>.card { /* Webkit */
    color: var(--md-typeset-color);
    background: #f6f6f6;
    border: 1px solid var(--pg-light-border);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 3px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px -1px;
    transition: none;
    position: relative;
}

[data-md-color-scheme="slate"] .md-typeset .grid.cards > :is(ul, ol) > li, .md-typeset .grid > .card { /* Firefox */
    color: var(--md-typeset-color);
    background: #1b1b1b;
    border: 1px solid var(--pg-light-border);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 3px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px -1px;
    transition: none;
    position: relative;
}

[data-md-color-scheme="slate"] .md-typeset .grid.cards>:-webkit-any(ul,ol)>li, .md-typeset .grid>.card { /* Webkit */
    color: var(--md-typeset-color);
    background: #1b1b1b;
    border: 1px solid var(--pg-light-border);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 3px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px -1px;
    transition: none;
    position: relative;
}
.md-typeset .grid.cards > :is(ul, ol) > li:is(:focus-within, :hover), .md-typeset .grid > .card:is(:focus-within, :hover) { /* Firefox */
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 3px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px -1px;
    border-color: var(--md-accent-fg-color);
}

.md-typeset .grid.cards>:-webkit-any(ul,ol)>li:-webkit-any(:focus-within,:hover) { /* Webkit */
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 3px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px -1px;
    border-color: var(--md-accent-fg-color);
}

.md-typeset .grid.cards > :is(ul, ol) > li > a::after, .md-typeset .grid>.card a::after { /* Firefox */
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.md-typeset .grid.cards>:-webkit-any(ul, ol)>li > a::after, .md-typeset .grid>.card a::after { /* Webkit */
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Custom tooltips */
.md-tooltip {
    border-radius: 6px;
}

[data-md-color-scheme="slate"] .md-typeset .admonition.builder,
.md-typeset details.quicklink {
    background-color: #1b1b1b;
}

.md-typeset .admonition.builder,
.md-typeset details.builder {
    border: 1px solid var(--pg-light-border);
    font-size: inherit;
}
.md-typeset .builder > .admonition-title,
.md-typeset .builder > summary {
    background-color: rgba(43, 155, 70, 0.0);
    border: none;
    padding-left: 0.6rem;
}
.md-typeset .builder > .admonition-title::before,
.md-typeset .builder > .admonition-title,
.md-typeset .builder > summary::before {
    display: none;
}
img[align="right"], svg[align="right"] {
    width: 150px;
}

.md-typeset .admonition.quicklink,
.md-typeset details.quicklink {
    border: none;
    box-shadow: none;
}
.md-typeset .quicklink > .admonition-title,
.md-typeset .quicklink > summary {
    background-color: rgba(43, 155, 70, 0.0);
}

.md-typeset .quicklink > .admonition-title::before,
.md-typeset .quicklink > .admonition-title,
.md-typeset .quicklink > summary::before {
    background-color: var(--md-typeset-a-color);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath d='M287.9 0c9.2 0 17.6 5.2 21.6 13.5l68.6 141.3 153.2 22.6c9 1.3 16.5 7.6 19.3 16.3s.5 18.1-5.9 24.5L433.6 328.4l26.2 155.6c1.5 9-2.2 18.1-9.7 23.5s-17.3 6-25.3 1.7l-137-73.2L151 509.1c-8.1 4.3-17.9 3.7-25.3-1.7s-11.2-14.5-9.7-23.5l26.2-155.6L31.1 218.2c-6.5-6.4-8.7-15.9-5.9-24.5s10.3-14.9 19.3-16.3l153.2-22.6L266.3 13.5C270.4 5.2 278.7 0 287.9 0zm0 79L235.4 187.2c-3.5 7.1-10.2 12.1-18.1 13.3L99 217.9 184.9 303c5.5 5.5 8.1 13.3 6.8 21L171.4 443.7l105.2-56.2c7.1-3.8 15.6-3.8 22.6 0l105.2 56.2L384.2 324.1c-1.3-7.7 1.2-15.5 6.8-21l85.9-85.1L358.6 200.5c-7.8-1.2-14.6-6.1-18.1-13.3L287.9 79z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath d='M287.9 0c9.2 0 17.6 5.2 21.6 13.5l68.6 141.3 153.2 22.6c9 1.3 16.5 7.6 19.3 16.3s.5 18.1-5.9 24.5L433.6 328.4l26.2 155.6c1.5 9-2.2 18.1-9.7 23.5s-17.3 6-25.3 1.7l-137-73.2L151 509.1c-8.1 4.3-17.9 3.7-25.3-1.7s-11.2-14.5-9.7-23.5l26.2-155.6L31.1 218.2c-6.5-6.4-8.7-15.9-5.9-24.5s10.3-14.9 19.3-16.3l153.2-22.6L266.3 13.5C270.4 5.2 278.7 0 287.9 0zm0 79L235.4 187.2c-3.5 7.1-10.2 12.1-18.1 13.3L99 217.9 184.9 303c5.5 5.5 8.1 13.3 6.8 21L171.4 443.7l105.2-56.2c7.1-3.8 15.6-3.8 22.6 0l105.2 56.2L384.2 324.1c-1.3-7.7 1.2-15.5 6.8-21l85.9-85.1L358.6 200.5c-7.8-1.2-14.6-6.1-18.1-13.3L287.9 79z'/%3E%3C/svg%3E");
}

.md-typeset .quicklink > summary::after {
    right:auto;
}

.quicklink > ul > li {
    padding: 0.5em 0 !important;
}

.quicklink > ul .twemoji {
    width: .9rem
}

details[class="quicklink annotate"] > p .md-annotation span span::before {
    vertical-align: 0;
}

.quicklink > ul {
    display: grid!important;
    grid-template-columns: repeat(1, 1fr);
    list-style-type: none;
}

.md-typeset .card-link {
    color: var(--md-default-fg-color--light);
}

.highlight.no-copy .md-clipboard { display: none; }