:root, [data-md-color-scheme="default"] {
    --md-primary-fg-color:        #00bc8c;
    --md-primary-fg-color--light: #00bc8c;
    --md-primary-fg-color--dark:  #00bc8c;
    --md-primary-bg-color--light: rgba(0,0,0,.54);
}
:root, [data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #00bc8c;
    --md-primary-fg-color--light: #00bc8c;
    --md-primary-fg-color--dark:  #00bc8c;
    --md-default-bg-color: #252525;
    --md-footer-bg-color--dark: var(--md-default-bg-color);
}
strong {
    color: #00bc8c;
}

table tr td code {
  white-space: nowrap;
}

.md-banner {
    background-color: #252525;
    color: var(--md-footer-fg-color);
    overflow: auto;
    text-align: center;
}

.md-typeset table:not([class]) {
   display: table;
}

.md-typeset .tabbed-set {
    border: 1px solid var(--md-default-fg-color--lightest);
    border-radius: 6px;
    padding: 10px;
}

.md-typeset :not(.linenodiv) > pre {
  border: 1px solid var(--md-default-fg-color--lightest);
  border-radius: 6px;
  padding: 1px;
}

.md-typeset h1, .md-typeset h2 {
    font-weight: bold;
    color: #0e8a6a;
    text-transform: uppercase;
}

.md-typeset h2 {
    font-weight: bold;
    color: #0e8a6a;
    text-transform: uppercase;

}

.md-typeset h3 {
    font-weight: bold;
    color: #0e8a6a;
    text-transform: uppercase;
}

.md-typeset h4 {
    font-weight: bold;
    color: #0e8a6a;
    text-transform: uppercase;
}

[data-md-color-scheme="slate"] .md-typeset code {
    background-color: hsl(225deg 8.87% 10.98%);
}
@media only screen and (min-width: 76.25em) {
  .md-main__inner {
    max-width: 80%;
  }
  .md-sidebar--primary {
    margin-left: 0;
    left: 0;
  }
  .md-sidebar--secondary {
    right: 0;
    margin-left: 0;
    -webkit-transform: none;
    transform: none;   
  }
}

@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
.heart {
  animation: heart 1000ms infinite;
}

.green {
  color: #00e676;
}

.red {
  color: #ff001a;
}

.orange {
  color: #e69800;
}
table.clearTable {
  display: inline !important;
}
table.clearTable td {
  padding: 3px 15px 3px 3px !important;
}
table.clearTable td:last-child {
  padding: 3px 3px 3px 3px !important;
}
table.clearTable th {
  text-align: center !important;
}
table.clearTable, table.clearTable tbody, table.clearTable tr, table.clearTable td, table.clearTable th {
    background-color: transparent !important;
    border: 0 !important;
    /* background-color: var(--md-default-bg-color); */
    /* border: 0.05rem solid var(--md-typeset-table-color); */
    /* border-radius: 0.1rem; */
}
table.dualTable td, table.dualTable th {
  padding-left: 15px !important;
    background-color: var(--md-default-bg-color);
    border: 0.05rem solid var(--md-typeset-table-color);
    border-radius: 0.1rem;
}

[data-md-color-scheme="slate"] .grey {
  color: #414454;
}


[data-md-color-scheme="default"] .grey {
  color: #f1f1f1;
}

table.dualTable tr:nth-child(even) {
    background-color: #1b1b1b;
}

table.dualTable td, table.dualTable th {
  padding-left: 15px !important;
}

#dualTable td, #dualTable th {
  padding-left: 15px !important;
}

.md-typeset__table table:not([class]) td,
.md-typeset__table table:not([class]) th {
    padding: 9px;
}

/* light mode alternating table bg colors */
.md-typeset__table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.md-typeset table:not([class]) {
    background-color: var(--md-default-bg-color);
    border: 0.05rem solid var(--md-typeset-table-color);
    border-radius: 0.1rem;
    display: inline-block;
    font-size: .8rem;
    max-width: 100%;
    overflow: auto;
    touch-action: auto;
}
.md-typeset table:not([class]) th {
    min-width: 0rem;
}
/* dark mode alternating table bg colors */
[data-md-color-scheme="slate"] .md-typeset__table tr:nth-child(2n) {
    background-color: #1b1b1b;
}

.md-typeset mark {
    background-color: #ac0ce3;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    color: #ffffff;
    word-break: break-word;
}
:root {
    --md-admonition-icon--blank: url()
}
:root {
    --md-admonition-icon--separator: url()
}
.md-typeset .admonition.blank,
.md-typeset details.blank {
    box-shadow: 0 .1rem 1rem -.3rem rgba(0,0,0);
    border: none;
    border-radius: 5px;
    margin: 5px auto;
    font-size: inherit;
}
.md-typeset .blank > .admonition-title,
.md-typeset .blank > summary {
    background-color: rgba(43, 155, 70, 0.1);
    border-radius: 5px !important;
    padding-left: 20px;
}
.md-typeset .blank > .admonition-title::before,
.md-typeset .blank > summary::before {
    background-color: rgb(43, 155, 70);
    -webkit-mask-image: var(--md-admonition-icon--blank);
        mask-image: var(--md-admonition-icon--blank);
}
.md-typeset .admonition.separator,
.md-typeset details.separator {
    box-shadow: 0 .1rem 1rem -.3rem rgba(0,0,0);
    border: none;
    border-radius: 5px;
    margin: 5px auto;
    font-size: inherit;
}
.md-typeset .separator > .admonition-title,
.md-typeset .separator > summary {
    background-color: rgba(43, 155, 70, 0.1);
    text-align: center;
    border-radius: 5px !important;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.md-typeset .separator > .admonition-title::before,
.md-typeset .separator > summary::before {
    background-color: rgb(43, 155, 70);
    -webkit-mask-image: var(--md-admonition-icon--separator);
        mask-image: var(--md-admonition-icon--separator);
}