mkdocs-material
mkdocs-glightbox
mkdocs-include-markdown-plugin
jinja2
markdown
mkdocs
mkdocs-material-extensions
mkdocs-redirects
neoteroi-mkdocs
pygments
pymdown-extensions
babel
colorama
paginate
regex
requests
material-plausible-plugin
mkdocs-open-in-new-tab