body {
  font-size: 20px;
  color: #dfe1f2;
  background-color: #252525;
}

div.body {
  max-width: 1000px;
}

pre {
    background-color: #1d1d1d;
    color: #a9abba;
    box-shadow: none;
    display: block;
    border-color: transparent;
}

ul, ol {
    font-size: 17x;
}

ol.arabic {
    list-style: decimal;
    font-size: 17px;
}

ul .simple {
    font-size: 17px;
}

.highlight .nt {
  color: #a9abba;
  font-weight: bold;
}

.highlight .nl {
    color: #f57900;
}

.highlight .c1 {
    color: #157059;
}

.highlight .l {
  color: #0ce3ac;
}

.highlight .s {
    color: #0ce3ac;
}

.highlight .no {
    color: #a9abba;
}

.highlight .k {
    color: #a9abba;
    font-weight: bold;
}

.highlight .mi {
    color: #a9abba;
    font-weight: bold;
}

.highlight .ow {
    color: #a9abba;
    font-weight: bold;
}

.highlight .s1 {
    color: #0ce3ac;
}

.highlight .kn {
    color: #a9abba;
    font-weight: bold;
}

.highlight .nn {
    color: #a9abba;
}
.highlight .nl {
    color: #0ce3ac;
    font-weight: bold;
}

.highlight .p {
  color: #a9abba;
  font-weight: bold;
}

.highlight .n {
  color: #a9abba;
}

.highlight .nv {
  color: #a9abba;
}

.highlight .nb {
    color: #a9abba;
}
.highlight .kt {
    color: #0ce3ac;
    font-weight: bold;
}

.highlight .mf {
    color: #a9abba;
}

.highlight .o {
  color: #a9abba;
  font-weight: bold;
}

.highlight .s2 {
    color: #0ce3ac;
}

.tab-set > label {
  font-size: 0.75em;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}

label {
  margin-bottom: 0px;
}

button.copybtn {
    position: absolute;
    display: flex;
    top: .3em;
    right: .3em;
    width: 1.7em;
    height: 1.7em;
	opacity: 100;
    transition: opacity 0.3s, border .3s, background-color .3s;
    user-select: none;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 0.4em;
    /* The colors that GitHub uses */
    border: transparent 1px solid;
    background-color: transparent;
    color: #57606a;
}
.highlight button.copybtn:hover {
    background-color: transparent;
}

.highlight button.copybtn:active {
    background-color: transparent;
}
button.copybtn.success {
    border-color: transparent;
    color: #22863a;
}
button.copybtn svg {
    stroke: #a9abba;
    width: 1.5em;
    height: 1.5em;
    padding: 0em;
}
.tab-set {
  width: auto !important;
  border-style: solid;
  border-width: 1px;
  border-color: #00bfa5;
  box-shadow: 0px 3px #282829
  background-color: #293e49;
  border-radius: 5px;
  background-color: #293e49;
}

.tab-content {
  box-shadow: 0 -0.1rem #0ce3ac;
  background-color: #252525;
  padding-top: 0px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 15px;
}

details {
  border-style: solid;
  border-width: 1px;
  border-color: #00b8d4;
  box-shadow: 0px 3px #282829;
  border-radius: 5px;
}

summary {
  background-color: #293e4e;
  width: 968px;
}

.table {
  width: auto;
  max-width: 100%;
  margin-bottom: 21px;
  border-style: solid;
  border-width: 0px;
  border-color: #454755;
  background: #transparent;
  border-collapse: collapse;
  font-size: 17px
}

table thead tr {
  border-width: 0px;
  background-color: #151515;
}

:root {
  --tabs--label-text: #FFFFFF;
  --tabs--label-text--hover: #0ce3ac;
  --tabs--label-text--active: #0ea5e9;
  --tabs--label-text--active--hover: #0ea5e9;
  --tabs--label-background: transparent;
  --tabs--label-background--hover: transparent;
  --tabs--label-background--active: transparent;
  --tabs--label-background--active--hover: transparent;
  --tabs--label-border: transparent;
  --tabs--label-border--hover: #d1d5db;
  --tabs--label-border--active: #0ea5e9;
  --tabs--label-border--active--hover: #0ea5e9;
  --tabs--padding-x: 1.25em;
  --tabs--margin-x: 0;
  --tabs--border: #e6e6e6;
}

.text-left {
  text-align: left !important;
  padding-left: 15px !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.caption {
  margin: 15px 0 5px 10px;
}
code {
  color: #a9abba;
  background-color: #1d1d1d !important;
}
td hr, th hr {
    visibility: hidden;
    margin: 0;
}
table.align-default {
    margin-left: inherit;
}
hr {
  border-top: 3px solid #bcbcbc;
  margin-top: 50px;
  margin-bottom: 30px;
}
pre code {
  background-color: #bcbcbc;
}
a code {
  color: #0cafe3;
}
a {
  color: #09a77e;
}

a code {
  color: #09a77e;
}
h1, .h1, {
  margin: 0 0 1.25em;
}
h2, .h2, {
  margin: 1.6em 0 .64em;
}
h3, .h3, {
  margin: 1.6em 0 .8em;
}
h4, .h4, {
  margin: 1em 0;

}

h5., h6, .h5, .h6 {
  margin: 1.25em 0
}

h1, .h1 {
  color: #4aedc4;
}

h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
  color: #0ce3ac;
}

th {
  color: #0ce3ac;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
table tbody tr:nth-child(even) {
  background-color: #181818;
}
table tbody tr:nth-child(odd) {
  background-color: #1D1D1D;
}
table.clearTable {
  margin-top: 5px;
  margin-bottom: 5px;
}
table.clearTable td {
  padding: 3px 3px 3px 15px;
}
table.clearTable th {
  text-align: center;
}
table.clearTable, table.clearTable tbody, table.clearTable tr, table.clearTable td, table.clearTable th {
  background-color: rgba(0, 0, 0, 0.0) !important;
}
table.dualTable td, table.dualTable th {
  padding-left: 15px !important;
}
details {
  margin-bottom: 5px;
  border-color: #7c4dff;
}
summary {
  padding: 6px 12px 6px 22px;
  background: #363352;
  position: relative;
  cursor: pointer;
}
summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}
details[open] > summary:before {
  transform: rotate(90deg);
}
details summary::-webkit-details-marker {
  display:none;
}

td br {
  margin-bottom: 15px;
}
td p {
  margin-bottom: 0 !important;
}
p {
  -moz-hyphens: none !important;
  -ms-hyphens: none !important;
  -webkit-hyphens: none !important;
  hyphens: none !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #00a379 !important;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #222222 !important;
}
.tab-set {
  width: auto !important;
}
.highlighted {
  background-color: #ac0ce3 !important;
  color: #FFFFFF !important;
}
a .logo {
   display: block;
}
a:hover .logo {
   display: none;
}
a .logo-hover {
   display: none;
}
a:hover .logo-hover {
   display: block;
}
.tab-content {
  box-shadow: 0 -0.1rem #0ce3ac;
}
.tab-set > label {
}
.tab-set > input:checked + label:hover {
}
.tab-set > input:checked + label {
    color: #0ce3ac !important;
    border-color: #0ce3ac !important;
}
/* Responsive YT Video Embedding */
.responsiveYT {
    position: relative;
    height: 0;
    padding-top: 56%;
    overflow: hidden;
    max-width: 100%;
}
.responsiveYT iframe,
.responsiveYT object,
.responsiveYT embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.responsiveYT .fluid-vids {
    position: initial !important
}
